{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Seller Registration Page | Simple E-Commerce</title>
</head>
<body>
 <h1>Rocket Basket: Shop Fast, Ship Faster - Seller Registration</h1>
    <form method="post" class="form-container">
    {% csrf_token %}
    {% comment %}{{ form.as_p }}{% endcomment %}
        <div class="form-left input">
            <div>
                {{ form.StallName.label_tag }}
                {{ form.StallName }}
            </div>
            <div>
                {{ form.SellerName.label_tag }}
                {{ form.SellerName }}
            </div>
            <div>
                {{ form.ContactNo.label_tag }}
                {{ form.ContactNo }}
            </div>
            <div>
                {{ form.Address.label_tag }}
                {{ form.Address }}
            </div>
        </div>

        <div class="form-right input">
            <div>
                {{ form.Username.label_tag }}
                {{ form.Username }}
            </div>
            <div>
                {{ form.Password.label_tag }}
                {{ form.Password }}
            </div>
            <div>
                {{ form.ConfirmPassword.label_tag }}
                {{ form.ConfirmPassword }}
            </div>

            <div class="form-group">
                <label for="terms">By clicking "SUBMIT", you agree with the <a href="{% url 'terms_and_conditions'%}" target="_blank">Terms and Conditions</a>.</label>
            </div>

            <div class="submit-button">
            <button type="submit">SUBMIT</button>
            </div>
        </div> {% comment %}end of form right{% endcomment %}

</form>
 {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<p>Looking for products? Register as a <a href="{% url 'customer_registration'%}">CUSTOMER</a> instead.</p>
</body>
</html>